.navbar-nav .nav-item {
    margin-left: 5px;
}

ol, ul, dl {
    margin-bottom: 0 !important;
}

.alert {
    padding: 0.75rem 0.5rem !important;
}

.modal-header {
    padding: 0.8rem 1rem !important;
}

.modal-footer {
    padding: 0.20rem !important;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    color: #495057;
    background-color: #fff;
    border-color: #a1cbef;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da !important;
}

.card-header.tabbed {
    padding: 0.50rem 1rem 0 1rem !important;
}

.card-header {
    background: #EDF1F3 !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #fff !important;
    border-color: #dee2e6 #dee2e6 #fff #dee2e6 !important;
}

.table thead {
    background: #DAE0E5;
    color: #666;
    font-size: .90rem;
}

.table th:last-child {
    text-align: center;
}

.table th, .table td {
    padding: 0.40rem !important;
    vertical-align: middle !important;
}

.table-hover tbody tr:hover {
    background-color: #edf1f3 !important;
}

.dataTables_wrapper .dataTables_processing {
    background-color: #a2e5b1;
    color: #212529;
    position: absolute !important;
    top: 1% !important;
}

.read {
    background-color: #dff0d8 !important;
}